<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-thumbnail slot="start">
                <img src="http://placehold.it/100x60?text=F1" alt="placehold">
            </ion-thumbnail>
            Apple
        </ion-item>
        <ion-item>
            <ion-thumbnail slot="start">
                <ion-img src="http://placehold.it/100x60?text=F2"></ion-img>
            </ion-thumbnail>
            Banana
        </ion-item>
        <ion-item>
            <ion-thumbnail slot="start">
                <ion-img src=" http://placehold.it/100x60?text=F3"></ion-img>
            </ion-thumbnail>
            Orange
        </ion-item>

    </ion-list>

</ion-content>
